{% extends 'base/account/_base.html' %}

{#
This template is for registered users who do not have a password,
such as users who created their account on Google or Facebook.
#}

{% block title %}Set Password{% endblock title %}

{% block content %}
    <form method="POST" action="" class="password_set">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action" value="Set Password">Change
                Password
            </button>
        </div>
    </form>
{% endblock content %}
