{% extends 'base/account/_base.html' %}

{% block head_title %}DJSTARTER{% endblock head_title %}
{% block title %}Update DJSTARTER password{% endblock title %}

{% block content %}

    <form class="space-y-6" action="{{ request.path }}" method="post">
        {% csrf_token %}

        <div class="mb-4">
            <label for="{{ form.oldpassword.id_for_label }}" class="block text-sm font-medium text-gray-700">
                Old password
            </label>
            <input type="password"
                   name="{{ form.oldpassword.name }}"
                   id="{{ form.oldpassword.id_for_label }}"
                   class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
                   value="{{ form.oldpassword.value|default:'' }}">
            {% if form.oldpassword.errors %}
                <div class="text-red-500 text-sm mt-1">{{ form.oldpassword.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700">
                New password
            </label>
            <input type="password"
                   name="{{ form.password1.name }}"
                   id="{{ form.password1.id_for_label }}"
                   class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
                   value="{{ form.password1.value|default:'' }}">
            {% if form.password1.errors %}
                <div class="text-red-500 text-sm mt-1">{{ form.password1.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="mb-4">
            <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700">
                New password (confirmation)
            </label>
            <input type="password"
                   name="{{ form.password2.name }}"
                   id="{{ form.password2.id_for_label }}"
                   class="block w-full rounded-md border-0 pl-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
                   value="{{ form.password2.value|default:'' }}">
            {% if form.password2.errors %}
                <div class="text-red-500 text-sm mt-1">{{ form.password2.errors.0 }}</div>
            {% endif %}
        </div>

        <div>
            <button type="submit"
                    class="flex w-full justify-center rounded-md border border-black bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-white hover:text-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                Update Password
            </button>
        </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
        Go to home page
        <a href="/" class="font-semibold leading-6 text-black">Home</a>
    </p>
{% endblock content %}