{% extends 'base/account/_base.html' %}

{% block head_title %}DJSTARTER{% endblock head_title %}
{% block title %}Reset the DJSTARTER password{% endblock title %}

{% block content %}

    <h1 class="text-center">Password Reset</h1>
    <p class="text-center">We have e-mailed you. Please contact us if you do not receive it in a few minutes.</p>

    <p class="mt-10 text-center text-sm text-gray-500">
        Go to login page
        <a href="/accounts/login/" class="font-semibold leading-6 text-black">Login</a>
    </p>
{% endblock content %}