{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{% block title %}DJSTARTER{% endblock title %}</title>
    <meta name="description" content="A Django starter project.">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/favicon.png' %}">

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body>


<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->


<div class="bg-white">
    <!-- Header -->
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="mx-auto flex max-w-7xl items-center p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:hidden">
                <button id="account-mobile-menu-open"
                        type="button"
                        class="-m-2.5 inline-flex items-center justify-center rounded-md pl-2.5 pr-6 py-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                    </svg>
                </button>
            </div>
            <div class="flex lg:flex-1">
                <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                    <span class="sr-only">DJSTARTER</span>
                    <img class="h-8 w-auto" src="/static/images/icon.png" alt="">
                </a>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="{% url 'features' %}" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
                <a href="{% url 'about' %}" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
                <a href="{% url 'contact' %}" class="text-sm font-semibold leading-6 text-gray-900">Contact</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                {% if not user.is_authenticated %}
                    <a href="{% url 'account_login' %}" class="text-sm font-semibold leading-6 text-gray-900">
                        Log in <span aria-hidden="true">&rarr;</span>
                    </a>
                {% else %}
                    <a href="#" class="group block flex-shrink-0">
                        <div class="flex items-center">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor"
                                     class="w-6 h-6 text-gray-300">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                            </div>
                            <a href="{% url 'home_dashboard' %}" class="ml-3">
                                <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{ user.email }}</p>
                                <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
                                    Go to dashboard
                                </p>
                            </a>
                        </div>
                    </a>
                {% endif %}
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div id="account-mobile-menu-content" class="hidden lg:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-black/50"></div>
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 left-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
                        <span class="sr-only">DJSTARTER</span>
                        <img class="h-8 w-auto" src="/static/images/icon.png"
                             alt="">
                    </a>
                    <button id="account-mobile-menu-close"
                            type="button"
                            class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6">
                        <div class="space-y-2 pt-6 mb-12">
                            <a href="{% url 'features' %}"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                            <a href="{% url 'about' %}"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
                            <a href="{% url 'contact' %}"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contact</a>
                        </div>
                        {% if not user.is_authenticated %}
                            <div class="flex justify-between border-t border-t-gray-500/10">
                                <a href="{% url 'account_login' %}"
                                   class="inline px-3 py-2.5 text-base border border-black rounded-md bg-black text-white hover:bg-white hover:text-black">
                                    Log in
                                </a>
                                <a href="{% url 'account_signup' %}"
                                   class="inline px-3 py-2.5 text-base border border-black rounded-md bg-black text-white hover:bg-white hover:text-black">
                                    sign up
                                </a>
                            </div>
                        {% else %}
                            <a href="#" class="group block flex-shrink-0 border-t border-t-gray-500/10">
                                <div class="flex justify-center items-center">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor"
                                             class="w-6 h-6 text-gray-300">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        </svg>
                                    </div>
                                    <a href="{% url 'home_dashboard' %}" class="ml-3">
                                        <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">{{ user.email }}</p>
                                        <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
                                            Go to dashboard
                                        </p>
                                    </a>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="isolate mt-20">

        {% block content %}
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer class="mx-auto mt-40 max-w-7xl overflow-hidden px-6 pb-20 sm:mt-64 sm:pb-24 lg:px-8">
        <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
            <div class="pb-6">
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Link A</a>
            </div>
            <div class="pb-6">
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Link B</a>
            </div>
            <div class="pb-6">
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Link C</a>
            </div>
            <div class="pb-6">
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Link D</a>
            </div>
            <div class="pb-6">
                <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Link E</a>
            </div>
        </nav>
        <div class="mt-10 flex justify-center space-x-10">
            <a href="https://eavinti.com/" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Facebook</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"></path>
                </svg>
            </a>
            <a href="https://twitter.com/eavinti" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Twitter</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                </svg>
            </a>
            <a href="https://github.com/eavinti" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>

        </div>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">
            &copy; {% now 'y' %} DJSTARTER. All rights reserved.
        </p>
    </footer>
</div>



{% if debug %}
    <script src="http://localhost:8080/bundle.js"></script>
{% else %}
    <script src="{% static '/js/bundle.js' %}"></script>
{% endif %}

{% block extra_footer %}
{% endblock extra_footer %}

</body>

</html>